FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com
# IMPORTANT: Replace newlines in the JSON private_key with literal \n when pasting here
FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nABC123...\n-----END PRIVATE KEY-----\n

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=my-portfolio
SMTP_PASS=xyul xvyn xegg ugsy
NOTIFY_EMAIL_FROM="Harsh Portfolio <harsh1sheladiya@gmail.com>"
NOTIFY_EMAIL_TO=harsh1sheladiya@gmail.com
TELEGRAM_BOT_TOKEN=8264993688:AAGG9QLElmn0f741ai61ek-amKR6GmBzSnk
TELEGRAM_CHAT_ID=1716870945
